h1{
    color: hotpink;
}
#boy{
    /* position: relative; */
    /* position: absolute; */
position: relative;
/* position: fixed; */
left: 200px;
top: 70px;
z-index: 2;
}
#ring{
    position: relative;
    left: 200px;
z-index: 1;
}
#water{
    position: relative;
    left: 200px;
top: -90px;
}
.svg-div{
    border:3px solid rgb(108, 105, 255);
    height: 1200px;
    width: 600px;
    position: relative;
}

.p{
    width: 300px;
    height: 9000px;
    border: 1px solid red;
}